:root {
    --primary-color: #000;
    --secondary-color: #1814f3;
    --thirth-color: #b1b1b1;
    --primary-color-disabled: #718ebf;

    --background-color: #f5f7fa;
    --block-background-color: #fff;

    --blocks-border: #e6eff5;

    --input-placeholder-color: #8ba3cb;
}
